body{
    margin: 0;
    font-family: 'Nunito', sans-serif;
}


header{
    background-color: #2E94CC;
    color: white;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 24px;
    letter-spacing: 0.6px;
    line-height: 30px;
}

article{
    max-width: 850px;
    margin: auto;
    padding-top: 70px;
}

.post-author {
    color: #6c6c6c;
    font-size: 12px;
    line-height: 18px;
}

.share-post, .link-title{
    font-size: 12px;
    font-weight: 600;
    line-height: 22px;
    text-transform: uppercase;

}
.link-title{
    margin-bottom: 12px;
}

.uppercase{
    text-transform: uppercase;
}

h1 {
    margin: 0;
    font-size: 52px;
    letter-spacing: 1.3px;
    line-height: 58px;
}

#title-section {
    margin-bottom: 50px;
}
#content-section{
    max-width: 680px;
    margin: auto;
}
.hero-image{
    margin-bottom: 50px 0;
}
.hero-image img {
    max-width: 100%;
}

iframe{
    margin: 50px 0;
}

footer{
    background-color: #F1F1F1;
    max-width: 680px;
    margin: auto;
    padding: 20px 15px;
}

footer ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
}
footer ul li {
    margin-bottom: 15px;
}

footer ul li:last-of-type{
    margin-bottom: 0;
}